html, body{
  width: 100%;
  height: 100%;
}
.content {
  background: url(../image/heart.jpg); 
  background-size: 100%;
  margin: 0 auto;
  height: 100%;
}

.message {
  width: 100%;
  margin-top: 45%;
}

.message p {
  margin-top: 15%;
  font-weight: bold;
  font-family: "Arial","Microsoft YaHei";
  font-size: 6em; 
  text-align: center;
  color: #F8456D;
}

.glyphicon-chevron-down {
  width: 100%;
  font-size: 3em;
  color: #ffa4bf;
  text-align: center;
  margin-top: 40%;
  animation: twinkling 1s infinite ease-in-out;
}

#treasure-map {
  width: 100%;
}

@keyframes twinkling{	/*透明度由0到1*/
	0%{
		opacity:0.1;				/*透明度为0*/
	}
	100%{
		opacity:1;				/*透明度为1*/
	}
}
